// css footer
footer {
    // padding: 20px 0;
    background-color: $black-bg-cl;
    height: 40px;
    .container {
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        .copyright {
            @include text(12px, 15px, "pr", $text-white-cl, none);
            cursor: default;
        }
        .logo {
            position: absolute;
            left: 50%;
            @include transform(translateX(-50%));
        }
        .backtotop {
            @include text(12px, 20px, "pr", $text-white-cl, none);
            cursor: pointer;
            text-transform: uppercase;
        }
    }
    
    @include xs {
        height: auto;
        .container {
            flex-direction: column-reverse;
            padding: 10px 0;
            .logo {
                position: initial;
                @include transform(initial);
                // margin-bottom: 10px;
                padding-bottom: 5px;
            }
            .backtotop {
                display: none;
            }
        }
    }
}